@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Euclid";
  src: url("./fonts/EuclidCircularB-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  label {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }
  input,
  textarea {
    @apply w-full p-2 border border-gray-200 rounded-md;
  }
}
